<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  
  <!-- Description, keywords and author of this particular page for search engines-->
  <meta name="description" content="GRE Flashcards">
  <meta name="keywords" content="GRE, flashcards">      
  <meta name="author" content="Nikolay Nikolov">      

  <title>GRE Flashcards</title>
  
  <!-- Set the SCRIPT_ROOT variable -->
  <script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script type="text/javascript"            src = "{{ url_for('static',filename='vendor/jquery/jquery-2.1.4.min.js') }}">    </script>
  
  <!-- Bootstrap -->
  <link   type="text/css" rel="stylesheet"  href= "{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <script type="text/javascript"            src = "{{ url_for('static',filename='vendor/bootstrap/js/tether.min.js') }}">    </script>
  <script type="text/javascript"            src = "{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js') }}">    </script>
  
  <!-- Common CSS and JS -->
  <link   type="text/css" rel="stylesheet"  href= "{{ url_for('static',filename='styles/common.css') }}">
  <script type="text/javascript"            src = "{{ url_for('static',filename='js/common.js') }}">    </script>
  <script type="text/javascript"            src = "{{ url_for('static',filename='js/navbar.js') }}">    </script>

  <!-- CSS and JS for this page -->
  <!-- <link   type="text/css" rel="stylesheet"  href= "{{ url_for('static',filename='styles/addlist.css') }}"> -->
  <script type="text/javascript"            src = "{{ url_for('static',filename='js/addlist.js') }}">    </script>
  <script type="text/javascript"            src = "{{ url_for('static',filename='js/validator.js') }}">    </script>

  <!-- Custom Fonts -->
  <link   type="text/css" rel="stylesheet" href= "{{ url_for('static',filename='vendor/font-awesome/css/font-awesome.min.css') }}">

</head>

<body>

  <!-- ================================================== NAVBAR ================================================== -->
  {% include 'navbar.html' %}

  <!-- ================================================== BODY ================================================== -->
  <div class="container">

    <h2 class="section-heading">Add List</h2>

    <form id="list-form" data-toggle="validator">

      <hr class="featurette-divider">

      <!-- Other lists -->
      <label for="decks">Existing Custom Lists</label>
      {% for listname in decks %}
      <div>
        <li class="custom-control-description">{{listname}}</li>
      </div>
      {% endfor %}

      <!-- List -->
      <hr class="featurette-divider">
      <div class="form-group">
        <label for="word">List Name</label>
        <input type="text" class="form-control" id="deck" placeholder="Enter list" required>
      </div>
      
     
      <button id="submit-btn" class="btn btn-primary"   type="button">Create List</button>
      <button id="reset-btn"  class="btn btn-danger"    type="reset">Reset</button>

      <div id="result"></div>

    </form>        


    <hr class="featurette-divider">

  </div><!-- /.container -->    
</body>
</html>