<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  
  <!-- Description, keywords and author of this particular page for search engines-->
  <meta name="description" content="GRE Flashcards">
  <meta name="keywords" content="GRE, flashcards">      
  <meta name="author" content="Nikolay Nikolov">      

  <title>GRE Flashcards</title>
  
  <!-- Set the SCRIPT_ROOT variable -->
  <script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script type="text/javascript"            src = "{{ url_for('static',filename='vendor/jquery/jquery-2.1.4.min.js') }}">    </script>
  
  <!-- Bootstrap -->
  <link   type="text/css" rel="stylesheet"  href= "{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <script type="text/javascript"            src = "{{ url_for('static',filename='vendor/bootstrap/js/tether.min.js') }}">    </script>
  <script type="text/javascript"            src = "{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js') }}">    </script>
  
  <!-- Common CSS and JS -->
  <link   type="text/css" rel="stylesheet"  href= "{{ url_for('static',filename='styles/common.css') }}">
  <!-- <script type="text/javascript"            src = "{{ url_for('static',filename='js/common.js') }}">    </script> -->

  <!-- CSS and JS for this page -->
  <link   type="text/css" rel="stylesheet"  href= "{{ url_for('static',filename='styles/word.css') }}">
  <script type="text/javascript"            src = "{{ url_for('static',filename='js/word.js') }}">    </script>

  <!-- Custom Fonts -->
  <!-- <link   type="text/css" rel="stylesheet" href= "{{ url_for('static',filename='vendor/font-awesome/css/font-awesome.min.css') }}"> -->

</head>

<body>

  <!-- ================================================== NAVBAR ================================================== -->
  {% include 'navbar.html' %}

  <!-- ================================================== BODY ================================================== -->
  <div class="container">

    <h2 class="section-heading"> Word List: {{ word_list }} </h2>
    <!-- <h2 class="section-heading"> List </h2> -->
    <hr class="featurette-divider">


    <div class="card text-center">
      {% if number %}
      <div class="card-header">{{number}}</div>
      {% endif %}
      <div class="card-block">
        <h4 id="word" class="card-title">{{word}}</h4>
        <!-- <div id="show-meaning"  class="btn btn-primary">See meaning</div> -->
        <button id="show-meaning"  class="btn btn-primary" autofocus>See meaning</button>
      </div>
      {% if know_button %}
      <div id="notknow" class="card-footer text-muted" tabindex="1">DON'T KNOW</div>
      <div id="know"    class="card-footer text-muted" tabindex="2">KNOW</div>
      {% endif %}
    </div>
  
    <div id="meaning-block">  
      {% for m in meaning %}
      <div class="card card-meaning">
        <div class="card-block">
          <p class="card-text card-meaning-en"> <small class="text-muted"> {{ m["type"] }} </small> <b>{{ m["meaning"] }}</b> </p>
          {% if m["meaning_bg"] != "" %}
          <p class="card-text card-meaning-bg"> {{ m["meaning_bg"] }}</p>
          {% endif %}
          
          {% if m["syn"] != "" %}
          <p class="card-text card-meaning-bg"><small class="text-muted">syn:</small> {{ m["syn"] }}</p>
          {% endif %}

          {% if m["ant"] != "" %}
          <p class="card-text card-meaning-bg"><small class="text-muted">ant:</small> {{ m["ant"] }}</p>
          {% endif %}

          <p class="card-text card-meaning-example"> {{ m["example"] }}</p>

          {% if m["note"] != "" %}
          <p class="card-text card-meaning-bg"><small class="text-muted">{{ m["note"] }}</small></p>
          {% endif %}

        </div>
      </div>
      {% endfor %}
    </div>
    
    <hr class="featurette-divider">

    <div class="col-md-12 text-center"> 
      <button id="opt-btn" class="btn btn-secondary"  type="button">Options</button>
    </div>

    <div id="options">
  
      <!-- <div class="col-md-12 text-center">  -->
        <button id="mod-btn" class="btn btn-warning"  type="button">Modify word</button>
      <!-- </div> -->

      {% if rm_active %}
        <!-- <div class="col-md-12 text-center">  -->
        <button id="rm-btn" class="btn btn-danger"  type="button">Remove from current list</button>
        <div id="rm-result"></div>
        <!-- </div> -->
      {% endif %}

      <hr class="featurette-divider">

      <h5 class="section-heading"> Add to Lists </h5>
      <form id="word-form" data-toggle="validator">
        
        {% for listname in decks %}
        {% if listname != word_list %}
        <div class="form-group deck">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input deck-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description deck-name">{{listname}}</span>
          </label>
        </div>
        {% endif %}
        {% endfor %}
        <!-- <div class="col-md-12 text-center">  -->
          <button id="add-btn"    class="btn btn-primary" type="button">Add word to lists</button>
          <div id="add-result"></div>
        <!-- </div> -->

      </form>

    </div>
   
    <hr class="featurette-divider">
  
  </div>


</body>
</html>