a:hover{
  cursor: pointer;
  text-decoration: none;
}

.text-center{
  text-align: center;
}

.section-heading{
    font-size: 36px;
    margin-top: 60px;
    text-align: center;
}

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}
