
.card{
  width: 70%;
  margin: 0 auto;
}

.card-title{
  padding-top: 30px; 
  padding-bottom: 30px; 
}

.card-meaning{
  margin-top: 10px; 
}

#know{
  color: green;
}

#notknow{
  color: #B11F00;
}

#show-meaning:hover,
#know:hover,
#notknow:hover
{
  cursor: pointer;
}


