
.card{
  width: 70%;
  margin: 0 auto;
}

.card-title{
  padding-top: 30px; 
  padding-bottom: 30px; 
}

.card-meaning{
  margin-top: 10px; 
}

#know{
  color: green !important;
}

#notknow{
  color: #B11F00 !important;
}

#show-meaning:hover,
#know:hover,
#notknow:hover
{
  cursor: pointer;
}

h5{
  font-size: 18px !important;
}

/*
#rm-btn{
  margin: 0 auto;
}
*/

